<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssm.test.dao.SystemPermissionsMapper">
  <resultMap id="BaseResultMap" type="ssm.test.bean.SystemPermissions">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="permissions_name" jdbcType="VARCHAR" property="permissionsName" />
    <result column="createDatetime" jdbcType="TIMESTAMP" property="createdatetime" />
    <result column="murl" jdbcType="VARCHAR" property="murl" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
  </resultMap>
  <sql id="Base_Column_List">
    id, permissions_name, createDatetime, murl, `alias`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from system_permissions
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from system_permissions
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="ssm.test.bean.SystemPermissions">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into system_permissions (permissions_name, createDatetime, 
      murl, `alias`)
    values (#{permissionsName,jdbcType=VARCHAR}, #{createdatetime,jdbcType=TIMESTAMP}, 
      #{murl,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ssm.test.bean.SystemPermissions">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into system_permissions
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permissionsName != null">
        permissions_name,
      </if>
      <if test="createdatetime != null">
        createDatetime,
      </if>
      <if test="murl != null">
        murl,
      </if>
      <if test="alias != null">
        `alias`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permissionsName != null">
        #{permissionsName,jdbcType=VARCHAR},
      </if>
      <if test="createdatetime != null">
        #{createdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="murl != null">
        #{murl,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ssm.test.bean.SystemPermissions">
    update system_permissions
    <set>
      <if test="permissionsName != null">
        permissions_name = #{permissionsName,jdbcType=VARCHAR},
      </if>
      <if test="createdatetime != null">
        createDatetime = #{createdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="murl != null">
        murl = #{murl,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        `alias` = #{alias,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ssm.test.bean.SystemPermissions">
    update system_permissions
    set permissions_name = #{permissionsName,jdbcType=VARCHAR},
      createDatetime = #{createdatetime,jdbcType=TIMESTAMP},
      murl = #{murl,jdbcType=VARCHAR},
      `alias` = #{alias,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>